@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
  position: relative;
  background-color: #e6e7de;
  background-image: url("/assets/background.png");
  background-repeat: repeat;
  background-position: -360px 30px;
  background-size: cover;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul li,
a,
span {
  font-family: "Roboto", sans-serif;
}

p {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8;
}
